language: erlang
otp_release:
  - R16B03-1
  - R16B
services:
  - riak
before_script:
  - rebar get-deps
script: rebar compile ct suites=cloudi_service_db_riak || ( cat logs/raw.log logs/ct_run*/cloudi.log && exit 1 )
after_script:
  - rebar clean
branches:
  only:
    - master
notifications:
  irc:
    channels:
      - "chat.freenode.net#cloudi"
    on_success: change
    on_failure: always
